<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njwd.schedule.mapper.TaskRelyMapper" >
  <resultMap id="BaseResultMap" type="com.njwd.entity.schedule.TaskRely" >
    <id column="rely_id" property="relyId" jdbcType="VARCHAR" />
    <result column="ente_id" property="enteId" jdbcType="VARCHAR" />
    <result column="source_task_key" property="sourceTaskKey" jdbcType="VARCHAR" />
    <result column="target_task_key" property="targetTaskKey" jdbcType="VARCHAR" />
    <result column="front_expression" property="frontExpression" jdbcType="VARCHAR" />
    <result column="back_expression" property="backExpression" jdbcType="VARCHAR" />
    <result column="max_refuse_count" property="maxRefuseCount" jdbcType="INTEGER" />
    <result column="current_refuse_count" property="currentRefuseCount" jdbcType="INTEGER" />
    <result column="sum_refuse_count" property="sumRefuseCount" jdbcType="INTEGER" />
    <result column="warn_refuse_count" property="warnRefuseCount" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rely_id, ente_id, source_task_key, target_task_key, front_expression,back_expression,
    max_refuse_count, current_refuse_count, sum_refuse_count, create_time,warn_refuse_count
  </sql>


  <select id="excuteExpression" resultType="boolean" parameterType="java.lang.String" >
        select
        ${_parameter}
        from dual
  </select>


  <select id="selectBySourceWithoutStoped" resultMap="BaseResultMap" parameterType="com.njwd.entity.schedule.TaskRely" >
    select
    t1.rely_id,
    t1.ente_id,
    t1.source_task_key,
    t1.target_task_key,
    t1.front_expression,
     t1.back_expression,
    t1.max_refuse_count,
    t1.current_refuse_count,
    t1.sum_refuse_count,
    t1.create_time
    from wd_task_rely t1,wd_task t2
    where t1.source_task_key = #{sourceTaskKey}
    and t1.target_task_key=t2.task_key
    and t1.ente_id=#{enteId}
    and t1.ente_id=t2.ente_id
    and t2.switch_status='ON'
    and t2.task_status != 'ERROR'
    and t2.delete_status='0'
  </select>


  <select id="selectByTargetWithoutStoped" resultMap="BaseResultMap" parameterType="com.njwd.entity.schedule.TaskRely" >
    select
    t1.rely_id,
    t1.ente_id,
    t1.source_task_key,
    t1.target_task_key,
    t1.front_expression,
     t1.back_expression,
    t1.max_refuse_count,
    t1.current_refuse_count,
    t1.sum_refuse_count,
    t1.create_time
    from wd_task_rely t1,wd_task t2
    where t1.target_task_key = #{targetTaskKey}
    and t1.source_task_key=t2.task_key
    and t1.ente_id=#{enteId}
    and t1.ente_id=t2.ente_id
    and t2.switch_status='ON'
    and t2.task_status != 'ERROR'
    and t2.delete_status='0'
  </select>


  <insert id="insertSelective" parameterType="com.njwd.entity.schedule.TaskRely" >
    insert into wd_task_rely
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relyId != null" >
        rely_id,
      </if>
      <if test="enteId != null" >
        ente_id,
      </if>
      <if test="sourceTaskKey != null" >
        source_task_key,
      </if>
      <if test="targetTaskKey != null" >
        target_task_key,
      </if>
      <if test="frontExpression != null" >
        front_expression,
      </if>
      <if test="backExpression != null" >
        back_expression,
      </if>
      <if test="maxRefuseCount != null" >
        max_refuse_count,
      </if>
      <if test="currentRefuseCount != null" >
        current_refuse_count,
      </if>
      <if test="sumRefuseCount != null" >
        sum_refuse_count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relyId != null" >
        #{relyId,jdbcType=VARCHAR},
      </if>
      <if test="enteId != null" >
        #{enteId,jdbcType=VARCHAR},
      </if>
      <if test="sourceTaskKey != null" >
        #{sourceTaskKey,jdbcType=VARCHAR},
      </if>
      <if test="targetTaskKey != null" >
        #{targetTaskKey,jdbcType=VARCHAR},
      </if>
      <if test="frontExpression != null" >
        #{frontExpression,jdbcType=VARCHAR},
      </if>
      <if test="backExpression != null" >
        #{backExpression,jdbcType=VARCHAR},
      </if>
      <if test="maxRefuseCount != null" >
        #{maxRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="currentRefuseCount != null" >
        #{currentRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="sumRefuseCount != null" >
        #{sumRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njwd.entity.schedule.TaskRely" >
    update wd_task_rely
    <set >
      <if test="enteId != null" >
        ente_id = #{enteId,jdbcType=VARCHAR},
      </if>
      <if test="sourceTaskKey != null" >
        source_task_key = #{sourceTaskKey,jdbcType=VARCHAR},
      </if>
      <if test="targetTaskKey != null" >
        target_task_key = #{targetTaskKey,jdbcType=VARCHAR},
      </if>
      <if test="frontExpression != null" >
        front_expression = #{frontExpression,jdbcType=VARCHAR},
      </if>
      <if test="backExpression != null" >
        back_expression = #{backExpression,jdbcType=VARCHAR},
      </if>
      <if test="maxRefuseCount != null" >
        max_refuse_count = #{maxRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="currentRefuseCount != null" >
        current_refuse_count = #{currentRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="sumRefuseCount != null" >
        sum_refuse_count = #{sumRefuseCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rely_id = #{relyId,jdbcType=VARCHAR}
  </update>

</mapper>